{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1 class="text-center">Edit post</h1>
            <hr>
            {{ form_start(form) }}
            {{ form_row(form.header) }}
            {{ form_row(form.categories) }}

            <div class="form-group">
                {{ form_widget(form.body, {'id': 'article-ckeditor'}) }}
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success">Update post</button>
            </div>
            {{ form_end(form) }}

            {% include 'init/messages.html.twig' %}
        </div>
    </div>
{% endblock %}