{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
    <div class="col-md-8">

        {% include 'init/messages.html.twig' %}

        <h1 class="page-header">
            Latest posts
        </h1>
        {% for post in posts %}
            <h2>{{ post.getHeader() }}</h2>

            <p class="lead">
                by <a href="index.php">{{ post.admin.username }}</a>
            </p>
            <p><span class="glyphicon glyphicon-time"></span> Posted on {{ post.createdAt|date("F jS \\a\\t g:ia") }}</p>
            <hr>
            <img class="img-responsive" src="http://placehold.it/900x300" alt="">
            <hr>
            <p>{{ post.body|length > 150 ? post.body|slice(0, 150)|raw : post.body|raw }}</p>

            <a class="btn btn-primary" href="{{ path('post_show', { id: post.id }) }}">
                Read More <span class="glyphicon glyphicon-chevron-right"></span>
            </a>

            <hr>
        {% endfor %}

    </div>

    {% include 'init/sidebar.html.twig' %}
</div>

{% endblock %}
