{% extends 'base.html.twig' %}

{% block body %}

    <h1>Comments</h1>
    <hr>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>Body</th>
            <th>Post title</th>
            <th>Created at</th>
            {% if is_granted('ROLE_ADMIN') %}
                <th>Author</th>
            {% endif %}
        </tr>
        </thead>

        <tbody>
        {% for comment in comments %}
            <tr class="clickable-row" data-href="{{ path('post_show', {'id': comment.post.id}) }}">
                <td>{{ comment.body }}</td>
                <td>{{ comment.post.header }}</td>
                <td>{{ comment.createdAt|date("F jS \\a\\t g:ia") }}</td>
                {% if is_granted('ROLE_ADMIN') %}
                    <td>{{ comment.user.username }}</td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}